.placeholder{
    margin-top: 1rem;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid grey;

    .card-header {
        padding: .8rem;
        background: #ccc;
    }

    .card-list-item{
        padding: .8rem;
        border-bottom: 0.02rem solid #aaa;
        position: relative;

        p{
            margin: 0;
        }
        .label{
            font-size: 0.9rem;
            color: grey;
        }
        .bank-name {
            font-size: 1.4rem;
            font-weight: bold;
            color: #2d2d2d;
            margin-bottom: 0.5rem;
        }

        .btn-show-more {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 3rem;
            width: 4rem;
            height: 4rem;
            border: none;
            background: none;
            outline: none;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}