<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <input class="campo-texto" type="text" placeholder="Nome da Instituição:" formControlName="name">    
    <input class="campo-texto" type="number" placeholder="Açôes:" formControlName="stockAmount">    
    <input class="campo-texto" type="number" placeholder="CDB:" formControlName="depositaryReceiptAmount">    
    <input class="campo-texto" type="number" placeholder="Poupança:" formControlName="savingsAmount">    
    <input class="campo-texto" type="number" placeholder="Tesouro Direto:" formControlName="treasuryBondsAmount">    
    <input class="campo-texto" type="number" placeholder="Saldo conta:" formControlName="accountBalance">
    <button class="btn-submit" type="submit">Salvar</button>
  <form>