<form>
    <input class="campo-texto" type="text" placeholder="Nome da Instituição:">
    <br />
    <input class="campo-texto" type="number" placeholder="Açôes:">
    <br />
    <input class="campo-texto" type="number" placeholder="CDB:">
    <br />
    <input class="campo-texto" type="number" placeholder="Poupança:">
    <br />
    <input class="campo-texto" type="number" placeholder="Tesouro Direto:">
    <br />
    <input class="campo-texto" type="number" placeholder="Saldo conta:">
    <br/>
    <button class="button" type="submit">Salvar</button>
  <form>