    
    <form>
            <label for="username">Ações:</label>  
            <input type="text" placeholder="Nome da Instituição:" id="username" >
                <br>
                <label for="ac">Ações:</label>
                <input type="text" id="ac">
                <br>
                <label for="username">CDB:</label>
                <input type="text" id="cdb">
                <br>
                <label for="poupanca">Poupança:</label>
                <input type="text" id="poupanca">
                <br>
                <label for="td">Tesouro Direto:</label>
                <input type="text" id="td">
                <br>
                <label for="sc">Saldo conta:</label>
                <input type="text" id="sc">
                <br>
            </form>

