
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="investimentsData" 
        [labels]="investmentLabels" 
        [options]="chartOptions"
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>

    <div *ngFor="let item of cardContents" class="card">
        {{item.label}} {{item.value | currency}} ({{item.percent}}%)
    </div>

    <canvas baseChart 
        [datasets]="typesData" 
        [labels]="typesLabels" 
        [options]="chartOptions"
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>

    <div *ngFor="let item of cardContents2" class="card">
        {{item.label}} {{item.value | currency}} ({{item.percent}}%)
    </div>
    <button (click)="adicionaBancoFake()">add banco fake</button>
</div>